{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<style>
  .nav {
        background-color : #000 !important;
  }

</style>
            <!-- NAVIGATION ENDS -->

            <!-- PRODUCT STARTS HERE -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
            <script src="{% static 'invento19/js/clipboard.min.js' %}"></script>
            <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
<style>
  .swal2-styled {
    padding: 0px 2em !important;
}
#share {
  height: 38px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.clip {
  width: 40px;
  background-color: transparent;
  margin-left: 33%;
    margin-top: -12%;
    position: absolute;
}
@media only screen and (max-width: 600px) {
  .clip {
    margin-left: 40%;
    margin-top: -20%;
  }
}

.clip:hover {
  background-color: transparent;
}
.clip:active {
  border: none;
  outline: none;
}
.clip:focus {
  outline: 0px;
}
.clip > img {
  width: 20px;
  margin-top: -20%;
}
</style>
<script>
  $(document).ready(function(){
    $(document).prop('title', '{{event.title}} - Invento 2020');
  });
  </script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            function call_counter(url, pk) {
                window.open(url);
                $.get('YOUR_VIEW_HERE/'+pk+'/', function (data) {
                    alert("counter updated!");
                });
            }
        </script>
        <script>
          //URL Value access
          $(document).ready(function(){
            //<!-- $('select>option:eq(1)').attr('selected', true); -->
            //<!-- $('#events').val(decodeURIComponent($.urlParam('event'))); -->
            //<!-- var str = jQuery.param( params ); -->

            //<!-- console.log($.urlParam('event')); -->
             //<!-- console.log(GetParameterValues('event').replace(/%20/g,' ')); -->
          $('#referal').val(GetParameterValues('ref'));
            function GetParameterValues(param) {
              var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
              for (var i = 0; i < url.length; i++) {
                  var urlparam = url[i].split('=');
                  if (urlparam[0] == param) {
                      return urlparam[1];
                  }
              }
          }
          });
        </script>
  <script>
    $(document).ready(function(){
      $("#share").click(function(){
        /*Swal.fire({
          title: 'Enter Your Referal Code',
          input: 'text',
          inputAttributes: {
            autocapitalize: 'on'
          },
          showCancelButton: true,
          confirmButtonText: 'Generate'
        }).then((result) => {
          if (result.value) {
            var url = window.location.href;
            console.log(url);
      }
      });*/
      Swal.fire({
        title:"Campus Ambassador Sharable Link Generator",
        text: "Enter Referral Code to generate sharable URL",
        input: 'text',
        inputAttributes: {
          autocapitalize: 'on'
        },
        showCancelButton: true
    }).then((result) => {
        if (result.value) {
          //var url = "https://www.invento2020.com/events/"+"?event={{event.title}}&" + "ref="+result.value;
          var url = window.location.href + "?ref="+result.value.toUpperCase();
          //alert(url);
          Swal.fire({
            title : "Here is your sharable url",
            html : '<h1 id="foo">'+url+'</h1><button class="clip" data-clipboard-action="copy" data-clipboard-target="#foo"><img src="{% static "invento19/images/clippy.svg" %}"" alt="Copy to clipboard"></button>',
          })
        }
    });
    });


    $("#share-ref").click(function(){
        var url = window.location.href + "?ref="+ "{{ ref }}" ;
        Swal.fire({
          title : "Here is your shareable url!!!",
          text : url
        })

  });

    $("#register").on("click", function(e){
      e.preventDefault();
      var ref = $('#referal').val();
      window.location = "/events/?event={{event.title}}&ref="+ref;
    });
  });
  </script>
  <script>
    var clipboard = new ClipboardJS('.clip');

    clipboard.on('success', function(e) {
        console.log(e);
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });
    </script>
      <div id="about" class="home-about-area">
          <div class="product-container">
            <div class="container-fluid">
                  <div class="row product-sec">
                        <div class="col-lg-6 prod-left">
                              <div class="hero-image p-5">
                                    <img style="border-radius: 10px;" src="{{ event.posterurl }}" class="img wow fadeInUp" alt="">
                              </div>
                        </div>

                        <div class="col-lg-6 prod-right">
                              <div class="prod-opt">
                                <br>
                                    <h3 id="prod-name" class="wow fadeInUp" data-wow-delay="0.1s"> {{event.title}} </h3>
                                    <div class="input-row wow fadeInUp"  data-wow-delay="0.3s">
                                          <input type="radio" id="radio-input-1" checked>
                                          <label for="radio-input-1" class="input-helper input-helper--radio"> <span>Details</span> : {{event.long_desc | linebreaksbr }} </label>  <br>
                                          <input type="radio" id="radio-input-1" checked>
                                          <label for="radio-input-1" class="input-helper input-helper--radio"> <span>Category</span> : {{event.get_category_display}}</label>  <br>
                                          <input type="radio" id="radio-input-1" checked>
                                          <label for="radio-input-1" class="input-helper input-helper--radio">
                                             <span>Day</span> : {% if event.day == "1" %} March 05 {% elif event.day == "2" %} March 06 {% elif event.day == "3" %} March 07 {% elif event.day == "4" %} March 08 {% elif event.day == "1,2" %} March 05,06 {% elif event.day == "2,3" %} March 06,07 {% elif event.day == "3,4" %} March 07,08 {% elif event.day == "1,2,3" %} March 05,06,07 {% elif event.day == "2,3,4" %} March 06,07,08 {% elif event.day == "1,2,3,4" %} March 05,06,07,08{% endif %}</label>  <br>
                                          <input type="radio" id="radio-input-1" checked>
                                          <label for="radio-input-1" class="input-helper input-helper--radio"> <span>Fee</span> : {{ event.fee }} </label>   <br>
                                          <input type="radio" id="radio-input-1" checked>
                                          <label for="radio-input-1" class="input-helper input-helper--radio"> <span>Contact</span> : {{event.coordinators|linebreaksbr }} </label>   <br>
                                          {% if event.pdfurl %}
                                          <input type="radio" id="radio-input-1" checked>
                                          <label for="radio-input-1" class="input-helper input-helper--radio"> <span>Rules</span> : <a href="{{event.pdfurl}}">Download pdf</a> </label>   <br>
                                          {% endif %}
                                          {% if event.prize %}
                                          <input type="radio" id="radio-input-1" checked>
                                          <label for="radio-input-1" class="input-helper input-helper--radio"> <span>Prize</span> : {{ event.prize }}K </label>
                                          {% endif %}
                                          <br>
                                          <!-- <button onclick="call_counter('/events/', 12345);">Register Now</button> -->
                                          <!--We have temporarily closed registrations while we fix an error on our database. Sorry for the inconvenience.-->
                                          {% if event.linkurl %}
                                          <a class="btn btn-info" href="{{event.linkurl}}">Register Now</a>
                                          {% elif event.title == "Selfeyaan" or event.title == "Weapon Expo" or event.title == "Electrical Expo" or event.title == "Wheelies" or event.title == "Dr Drive" or event.title == "Evolution Expo" or event.title == "Smart Mirror" or event.title == "Graphical Waterfall" or event.title == "PI Wall" %}
                                          <button type="button" name="button" style="display : none;">Register</button>
                                          {% else %}
                                          <input type="text" name="referal" id="referal" hidden>
                                          <a id="register" class="btn btn-info" href="/events/?event={{event.title}}&ref=referal.value">Register Now</a>
                                          {% endif %}
                                          <!--{% if event.title == "Blockathon" %}
                                          <a class="btn btn-info" href="https://www.google.com">Register Now</a>
                                          {% elif event.title == "Balloon Fiesta" %}
                                          <button onclick="popup('invento-2020-004200');" class="tsbutton">Register Now</button><noscript id="tsNoJsMsg">Javascript on your browser is not enabled.</noscript><script src="//www.townscript.com/popup-widget/townscript-widget.nocache.js" type="text/javascript"></script>
                                          {% elif event.title == "Selfeyaan" or event.title == "Weapon Expo" %}
                                          <button type="button" name="button" style="display : none;">Register</button>
                                          {% else %}
                                          <a class="btn btn-info" href="/events/?event={{event.title}}">Register Now</a>
                                          {% endif %}-->

                                      {% if ref %}
                                                <button id="share-ref" class="btn btn-info">Share</button>
                                           {% else %}
                                                  <button id="share" class="btn btn-info">Share</button> <br>
                                           {% endif %}
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
          </div>
        </div>

            <!-- PRODUCT ENDS HERE -->

            <!-- CATEGORIES SECTION STARTS -->

            <!-- <div class="container-fluid">
                  <div class="row section shop">
                        <div class="col-lg-8">
                              <p class="wow fadeInUp" data-wow-delay="0.4s"> {{event.description}} </p>

                              <div class="link wow fadeInUp" data-wow-delay="0.6s">
                                    <a href="shop.html">learn more <ion-icon name="arrow-round-forward"></ion-icon></a>
                              </div>
                        </div>
                  </div>
            </div> -->


            <!-- CATEGORIES SECTION ENDS -->


            <div class="whitespaces"></div>


{% endblock %}
