{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
            <!-- NAVIGATION ENDS -->
            <title>LEADERBOARD</title>

            <div class="whitespaces"></div>

            <!-- COLLECTION STARTS -->
			{% if ambassadors %}
            <div>
                  <p>LEADERBOARD</p>

                  <div>
                        <div>
                              <div>
									{% for ambassador in ambassadors %}
                                    <div>
                                          <div>
                                            <p> {{ ambassador.first_name  }} </p>
                                            <p> {{ ambassador.last_name }} </p>
                                            <p> {{ ambassador.college  }} </p>
                                            <p> {{ ambassador.referal_code  }} </p>
                                                <p> {{ ambassador.points | linebreaksbr }} </p>
                                          </a>
                                          </div>
						</div>
									{% endfor %}
                              </div>
                        </div>
                  </div>
            </div>
			{% endif %}

      <div>
        <!--
      <h1>Profile Page </h1>Logout

                <h2>Welcome <span style="color: #F46404;">{{ current_ambassador.first_name}} </h2>
                 <p>Email id: {{ current_ambassador.email}} </p>
                 <p>Referal_code {{ current_ambassador.referal_code}} </p>
                 <p>College: {{ current_ambassador.college}} </p>
                 <p>Points: {{ current_ambassador.points}} </p>

      </div> -->
            <!-- COLLECTION ENDS -->
            <div class="whitespaces"></div>
            {% endblock %}

            <!-- FOOTER STARTS -->
