{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<style media="screen">
  table tr:hover td {
   background-color: #ffffff !important;
   opacity: 1.0;
}
</style>
<div style="background-color:#282828">
            <!-- NAVIGATION ENDS -->
            <title>LEADERBOARD</title>

            <div class="whitespaces"></div>

            <!-- COLLECTION STARTS -->
			{% if ambassadors %}
            <div class="container">
              <table class="table table-striped table-hover">
                <thead>
                  <tr style="color:#ff0000">
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Referral Code</th>
                    <th>Points</th>
                  </tr>
                </thead>
                <tbody style="color:#ffffff">
                  {% for ambassador in ambassadors %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ ambassador.first_name  }}  {% if ambassador.last_name != "-" %}{{ ambassador.last_name }}{% endif %}</td>
                    <td>{{ ambassador.referal_code  }}</td>
                    <td>{{ ambassador.points }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
			{% endif %}

      <div>
        <!--
      <h1>Profile Page </h1>Logout

                <h2>Welcome <span style="color: #F46404;">{{ current_ambassador.first_name}} </h2>
                 <p>Email id: {{ current_ambassador.email}} </p>
                 <p>Referal_code {{ current_ambassador.referal_code}} </p>
                 <p>College: {{ current_ambassador.college}} </p>
                 <p>Points: {{ current_ambassador.points}} </p>

      </div> -->
            <!-- COLLECTION ENDS -->
            <div class="whitespaces"></div>
            {% endblock %}

            <!-- FOOTER STARTS -->
</div>
